/*mapas*/
ul .botonPresencial {
  background-color: #ff67ff; }

ul .botonVirtual {
  background-color: #ff67ff; }

/*extend*/
ul .botonPresencial, ul .botonVirtual {
  border: 1px black solid;
  border-radius: 4px;
  margin: 5px; }

/*MIXIN*/
.botonPresencial:hover {
  transform: scale(110%); }

.botonVirtual:hover {
  transform: scale(110%); }

body {
  background-color: #E9B9C9; }
  body .logo {
    width: 50%; }
  body .menuPrincipal {
    position: fixed; }
  body .navbar .nav-item:not(:last-child) {
    margin-right: 35px; }
  body .dropdown-toggle::after {
    transition: transform 0.15s linear; }
  body .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px); }
  body .subMenuCursos {
    background-color: #ffc6ff; }
  body .subMenuTienda {
    background-color: #ffc6ff; }
  body header .subTitulo a {
    text-decoration: none;
    color: black;
    font-size: larger; }
  body main .imagenIndex {
    width: 100%; }
  body main .pieDeImagenIndex {
    font-size: 25px; }
  body .navegacion {
    background-color: #ff67ff; }
